{
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@model": "./src/model",
          "@constants": "./src/constants",
        }
      }
    ],
  ]
}
